.answer{
  font-weight: 200;
  direction: RTL;
  padding:10px;
  border-radius:5px;
  background-color: aliceblue;
}
.footer {
    text-align: center;
    position:fixed;
    bottom:0;
    left:0;
    margin:auto;
    width: 100%;
    height:40px;
    background-color: #1e3c4c;
    color: white;
}

.footer * {
    margin: auto;
}